/* Contact section styling */
.contact-section {
    background-color: #121212;
    color: #ffffff;
    padding: 4rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-container {
    max-width: 800px;
    width: 100%;
    text-align: center;
  }
  
  .contact-container h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #4caf50; /* Accent color */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  }
  
  .contact-container p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #dcdcdc;
  }
  
  /* Contact form styling */
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .contact-form input,
  .contact-form textarea {
    background-color: #1e1e1e;
    border: 1px solid #333;
    color: #ffffff;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    color: #777;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #4caf50;
  }
  
  .contact-form textarea {
    resize: vertical;
    min-height: 150px;
  }
  
  .btn-form {
    background-color: #359738bd;
  color: #ffffff;
  font-size: 1.4rem;
  padding: auto;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: all 0.3s ease;
  z-index: 1;
  width: 100%;
  min-width: fit-content;
  height: 6vh;
  }
  
  .btn-form:hover {
    background-color: transparent;
    color: #fff;
    border:#359738bd solid 1px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    .contact-container h2 {
      font-size: 2rem;
    }
  
    .contact-container p {
      font-size: 1rem;
    }
  }
  