.footer {
    width: 100%;
    padding: 3rem 1rem;
    background-color: rgba(19, 19, 19, 0.8);
}

.footer-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.left,
.right {
    display: flex;
    flex-direction: column;
}

.location,
.phone,
.email {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.footer h4 {
    font-size: 1.2rem;
    margin: 0;
    color: #fff;
}

.footer p {
    font-size: 1rem;
    color: #ccc;
}

.social {
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 640px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .social {
        justify-content: center;
    }
}
