@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  background-color: black;
}

h1, h4, p, a{
  color: #fff;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

/*padding: 15px 42px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgba(14, 190, 52, 0.808);
  color: #222222;
  border: 3px solid #fff;
  
  border-radius: 10%;
  font-weight: 600;

.btn {
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #74AB45;
  padding: 2vh 6vw;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: #fff;
}

.btn:hover {
  background: rgba(255,255,255, 0.2);
  color:#fff;
  transition: 0.3s;
}

436028 -tumšais
74AB45 - gaiši
48A0AA - zila

*/

/* CSS */
.butn {
  background-color: #74AB45;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  height: 5vh;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.butn:focus {
  outline: 0;
}

.butn:after {
  content: '';
  position: absolute;
  border: 3px solid #fff;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.butn:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .butn {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}