@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  background-color: black;
}

h1, h4, p, a{
  color: #fff;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

/*padding: 15px 42px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgba(14, 190, 52, 0.808);
  color: #222222;
  border: 3px solid #fff;
  
  border-radius: 10%;
  font-weight: 600;

.btn {
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #74AB45;
  padding: 2vh 6vw;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: #fff;
}

.btn:hover {
  background: rgba(255,255,255, 0.2);
  color:#fff;
  transition: 0.3s;
}
*/

/*
<!-- HTML !-->
<button class="button-52" role="button">Button 52</button>
 CSS */

.button-49{
  padding: 15px 42px;
  margin: 1vw;
  font-size: 1rem;
  text-transform: uppercase;
}
 
 /* CSS */
 .button-49,
 .button-49:after {
   font-size: 20px;
   font-family: 'Bebas Neue', sans-serif;
   background: #286028e3;
   border: 0;
   color: #fff;
   letter-spacing: 3px;
  
   outline: transparent;
   position: relative;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
 }
 
 .button-49:after {
   --slice-0: inset(50% 50% 50% 50%);
   --slice-1: inset(80% -6px 0 0);
   --slice-2: inset(50% -6px 30% 0);
   --slice-3: inset(10% -6px 85% 0);
   --slice-4: inset(40% -6px 43% 0);
   --slice-5: inset(80% -6px 5% 0);
   
   content: 'GREEN';
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(45deg, transparent 3%, #436028 3%, #48A0AA 5%, #436028 5%);
   text-shadow: -3px -3px 0px #fff, 3px 3px 0px #74AB45;
   clip-path: var(--slice-0);
 }
 
/*
#436028
#74AB45
#48A0AA
*/

 .button-49:hover:after {
   animation: 1s glitch;
   animation-timing-function: steps(2, end);
 }
 
 @keyframes glitch {
   0% {
     clip-path: var(--slice-1);
     transform: translate(-20px, -10px);
   }
   10% {
     clip-path: var(--slice-3);
     transform: translate(10px, 10px);
   }
   20% {
     clip-path: var(--slice-1);
     transform: translate(-10px, 10px);
   }
   30% {
     clip-path: var(--slice-3);
     transform: translate(0px, 5px);
   }
   40% {
     clip-path: var(--slice-2);
     transform: translate(-5px, 0px);
   }
   50% {
     clip-path: var(--slice-3);
     transform: translate(5px, 0px);
   }
   60% {
     clip-path: var(--slice-4);
     transform: translate(5px, 10px);
   }
   70% {
     clip-path: var(--slice-2);
     transform: translate(-10px, 10px);
   }
   80% {
     clip-path: var(--slice-5);
     transform: translate(20px, -10px);
   }
   90% {
     clip-path: var(--slice-1);
     transform: translate(-10px, 0px);
   }
   100% {
     clip-path: var(--slice-1);
     transform: translate(0);
   }
 }
 
 @media (min-width: 768px) {
   .button-49,
   .button-49:after {
     width: 200px;
     height: 86px;
     line-height: 88px;
   }
 }